
.body {margin: 0 auto;
    text-align: center;
}
a {
    text-decoration: none;
}
.page__body {
    margin: 0;
    font-family: sans-serif;
}
.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1280px;
}
.page-header__container {
    padding-top: 25px;
    padding-bottom: 25px;
}
.navigation {
    display: inline-block;
    vertical-align: top;
}
.menu {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}
.menu-item {
    display: inline-block;
    vertical-align: top;
    margin-left: 72px;
}
.menu-link {
    font-size: 18px;
    line-height: 18px;
    color: red;
    font-weight: bolder;
}
.image {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 50px;
}
.title {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 38px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 22px;
    line-height: 27px;
}
.text {display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 28px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 26px;
    padding-right: 65px;
    padding-left: 65px ;
}
.bottom_text {
    margin-bottom: 66px;
}
.button {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    font-weight: bolder;
    background-color: red;
    color: white;
    padding: 18px 42px;
    margin-bottom: 42px;
}
.copy_text {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: bolder;
    text-align: end;
    margin-top: 40px;
    margin-bottom: 29px;
    margin-right: 105px;
}
.copy {
    display: inline-block;
    vertical-align: middle;
}
